
body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(3, 2, 2);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}
  
.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
  
button:hover {
    background-color: #0056b3;
  }
  
  /* Dark mode styles */
  body.dark-mode {
    background-color: #333;
    color: white;
  }
  
  button.dark-mode {
    background-color: #ff9800;
  }
  
  button.dark-mode:hover {
    background-color: #e68900;
  }
  